
body{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     height: 100vh;
     background-color:darkcyan;

}


h1{
     font-size: 36px;
     text-decoration: underline;

}

img{
     width: 700px;
     height: 400px;
     filter: blur(0.5rem);
     border: 2px solid black;

}

img:hover{
     filter: blur(0px);
     transition: 2s;
}