
.gradient-container{
      max-width: 1200px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: auto;
      padding: 20px;
      background-image:linear-gradient(to right, rgb(213, 154, 213), rgb(142, 53, 226));    
      border-radius: 30px;  
}


section{
     display: flex;
     flex-direction: column;
     gap: 10px;
     align-items: center;
}

section h1{
     font-size: 40px;
     color: #fff;
     margin:0px;
     font-style: italic;
}

section p{
     margin: 0;
     font-weight: bold;
     color: #fff;
     font-family: Arial, Helvetica, sans-serif;
}